@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  display: flex;
  justify-content: center; /* Center the links */
  align-items: center;
  height: 125px;
  z-index: 1000;
}

.logo-container {
  position: absolute;
  left: 20px; /* Move the logo to the left */
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links ul li {
  margin: 0 15px;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 18px;
}